

.register-container {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

.register-form {
    color: #ffffff;
    display: flex;
    flex-direction: column;
    background-color: #000000;
    width: 55vw;
    max-width: 400px;
    border-radius: 0.5rem;
    padding: 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6);
    gap: 1rem;
}

.register-form h2 {
    margin: -1rem 0 1rem 0rem;
    font-size: 1.75rem;
    font-weight: bold;
    text-align: start;
}

.register-form div {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
}

.register-form label {
    margin-left: 1.5rem;
    margin-bottom: 0.5rem;
    font-size: 1.25rem;
    align-self: start;
    text-align: start;
    width: 50%
}

.register-form input {
    width: 100%;
    padding: 0.5rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #ffffff;
    color: #000000;
    font-size: 1rem;
}

.register-form button {
    margin-top: 1rem;
    margin-left: 1.5rem;
    padding: 0.7rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #282c34;
    color: #ffffff;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: flex-start;
}

.register-form button:hover {
    background-color: #ee2b2b;
}

@media screen and (max-width: 768px) {
    .register-container {
        margin: 5rem 1rem 0 1rem;
    }

    .register-form {
        width: 90vw;
    }
}

@media screen and (max-width: 430px) {
    .register-form h2 {
        margin: -1rem 0 1rem -1rem;
        font-size: 1.5rem;
    }

    .register-form label {
        margin-left: 0.5rem;
        font-size: 1rem;
    }

    .register-form input {
        font-size: 0.75rem;
    }

    .register-form button {
        margin-left: 0.5rem;
        font-size: 1rem;
    }
}
